<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741551641935-lo6po4juae8rggee2f0o17q6uc28q16v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741551641935-lo6po4juae8rggee2f0o17q6uc28q16v</string>
	<key>API_KEY</key>
	<string>AIzaSyDzjnuz7Ki0mv339P5PcE4GWmCw18KHULM</string>
	<key>GCM_SENDER_ID</key>
	<string>741551641935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coba</string>
	<key>PROJECT_ID</key>
	<string>frameworkmobile205411029</string>
	<key>STORAGE_BUCKET</key>
	<string>frameworkmobile205411029.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741551641935:ios:c60b0a5a32f228b854213a</string>
</dict>
</plist>